:root {
  background-color: white;
  color-scheme: light dark;
  --color-white: #FFFFFF;
  --color-gray: #848484;
  --color-gray-outline: rgba(132, 132, 132, 0.5);
  --color-gray-light: rgba(132, 132, 132, 0.25);
  --color-primary: #119494;
  --color-primary-outline: rgba(17, 148, 148, 0.5);
  --color-secondary: #275C6E;
  --color-secondary-outline: rgba(39, 92, 110, 0.5);
  --color-tertiary: #F2F2F2;
    --color-tertiary-outline: rgba(242, 242, 242, 0.5);
}
